body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

div {
  border: 1px solid black;
}

#main-wrapper {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: auto auto;
}

#sidebar {
  grid-row: span 2;
}