* {
  font-family: roboto;
}

#main-content {
  background-color: #e2e8f0;
  display: grid;
  grid-template-columns: 6fr 2fr;
  gap: 20px;
}

#projects-section {
  display: grid;
  padding: 0px 0px 0px 20px;
  margin-bottom: 30px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 60px 1fr;
  gap: 20px;
}

.header-row {
  grid-column: span 2;
  display: flex;
  align-items: end;
  font-weight: 500;
  font-size: 1.4rem;
}

.project-card {
  background-color: #fff;
  border-radius: 12px;
  height: 280px;
  box-sizing: border-box;
  padding: 30px 40px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  display: flex;
  flex-direction: column;
}

.project-ui-logos > img {
  height: 30px;
  width: 30px;
}

.project-name {
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 6px;
}

.project-info {
  font-size: 1.1rem;
  line-height: 26px;
  color: rgb(87, 87, 87);
}

.project-ui-logos {
  flex: 1;
  display: flex;
  justify-content: end;
  align-items: end;
  gap: 36px;
  cursor: pointer;
}

.project-ui-logos img {
  filter: invert(20%);
}