* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

#main-wrapper {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 200px 1fr;
}